.library {
	padding: 2.5rem 1rem;
	padding-bottom: 2.5rem;
	background-color: #f2f2f2;
	height: calc(100vh - 7.5rem);
	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: 15px;
}

.library .container:last-child {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 15px;
	padding-top: 2rem;
	overflow: auto;
	padding-bottom: 2rem;

	box-shadow: 0px 0px 10px black;
	border-radius: 10px;
}