.options {
	/* padding: 15px 0; */
	background-color: rgb(146, 145, 174);

	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.2rem;
}

.options p {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.options button {
	display: flex;
	justify-content: center;
	gap: 1rem;
	font-size: 1.2rem;

	padding: .5rem 1rem;
	border-radius: 1rem;

	color: #fff;
	background-image: var(--background-image);
	cursor: pointer;

	transition: color .3s;
}

.options p :not(.active) {
	color: black;
	background-image: none;
	background-color: #fff;
}